{% include "recipes/partials/head.html" %}<!--código do head da pagina-->


<body>
    {%include "recipes/partials/header.html"%}<!--código do header da nossa página-->
    <div class="search-container">
        <div class="s-container">
            <form action=""class="search-form">
                <input type="search" class="search-input" name="search">
                <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>
</body>
</html>