{% include "recipes/partials/head.html" %}<!--código do head da pagina-->
<body>
    {%include "recipes/partials/header.html"%}<!--código do header da nossa página-->
    {%include "recipes/partials/search.html"%}<!--código do search da pagina-->
     <main class="main-content-container">
        <div class="main-content main-content-detail container">
            {%include "recipes/partials/recipe.html"%}<!--código do container de recipe da página-->
        </div>
     </main>
     {%include "recipes/partials/footer.html"%}<!--código do footer da página-->
</body>
</html>